* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: 
}

#companylogo {
    width: 100%;
    height: 100%;
}

.logPage {
    margin-top: 20px;
}

.loginTo {
    padding-left: 12px;
}

.section-container {
    
    border-style: groove;
    padding: 20px;
    margin: 20px;
}

label {
    width: 100px; 
    text-align: left; 
    display: inline-block;
}


input {
    margin-bottom: 10px;
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
   
}

button:hover {
    background-color: #28bddb;
}

h2{

    padding-bottom: 50px;
}


#hireButton{

margin-left : 106px;
width : 270px
}

#fireButton{

margin-left : 106px;
width : 270px
}

#viewDatabaseButton{

margin-left : 42%;
width : 270px;
margin-bottom: 10px;

}


#databaseH2{

    text-align: center;
}




#labelsAndInputs {
    display: flex;
    justify-content: space-around;
    padding-left: 42px;
}

/* #leftSide {
    padding-left: 188px;
} */



.whiteboard {
    background-color: #fff;
    border: 2px solid #ffffff;
    border-radius: 10px;
    height: 250px;
    width: 550px;
    bottom: 50px;
    overflow-y: auto; 
    padding: 10px;
    margin-bottom: 10px; 
    color: green;
    
}


/* #fireSection{


    padding-left: 188px;
} */
#labelAndInput2{

padding-left: 200px;

}



#databaseSection {
    text-align: left
}

#employeeCount {
    font-size: 24px; 
}


p {
    background-color: transparent;
    color: undefined;
}